//background for homepage content
.myContent {
  background: $dark;  
}

//Remove border from header
.bar-dark {
  border: none;
}

//border for text inputs on add page
.myBorder {
  border: 2px solid black;
}

//recipe listing
.studListing {
    text-align: center;
    a{
      text-decoration: none;  
    }
}

//wrapping for ion-item
.item {
  white-space: normal;
}